Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

dockerbuild:
  name: dockerbuild
  entry: scripts/update
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

sql:
  name: sql
  entry: scripts/test
  args:
  - --basicsql
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

add some tests for update_collection_extent flag
  .gitignore
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
Due: none

Fix collection extent schema (#278)
  .gitignore
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.0-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/basic/partitions.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

fix timestamp format in collection_temporal_extent
  src/pgstac/migrations/pgstac.0.9.0-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/003a_items.sql
Due: sql, migrations

add test for temporal extent format
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
Due: none

Fix timestamp format generated by collection_temporal_extent (#279)
  src/pgstac/migrations/pgstac.0.9.0-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
Due: sql, migrations

stage version 0.9.1
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.0-0.9.1.sql
  src/pgstac/migrations/pgstac.0.9.1.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

stage version 0.9.1 (#280)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.0-0.9.1.sql
  src/pgstac/migrations/pgstac.0.9.1.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

Don't mount local folder
  docker-compose.yml
Due: none

Update maintain_partition_queries format
  src/pgstac/sql/002a_queryables.sql
Due: sql

Add btree_gist dependency in docs (#268)
  docs/src/pgstac.md
Due: none

Fix for typo
  docs/src/pgstac.md
Due: none

add q parameter for free-text search
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

handle quoted statements, add more tests
  src/pgstac/migrations/pgstac.0.9.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
Due: sql, migrations

Fix for typo (#294)
  docs/src/pgstac.md
Due: none

Don't mount local folder (#284)
  docker-compose.yml
Due: none

add q parameter for free-text search (#295)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

Add test to verify search works in readonly mode with context extension enabled
  src/pgstac/tests/pgtap/001_core.sql
Due: none

Allow read-only replicas work even when the context extension is enabled
  src/pgstac/sql/004_search.sql
Due: sql

Allow read-only replicas work even when the context extension is enabled (#298)
  src/pgstac/sql/004_search.sql
Due: sql

Add test to verify search works in readonly mode with context extension enabled (#297)
  src/pgstac/tests/pgtap/001_core.sql
Due: none

avoid future breaking change in psycopg ConnectionPool
  CHANGELOG.md
  src/pypgstac/python/pypgstac/db.py
Due: pypgstac

avoid future breaking change in psycopg ConnectionPool (#299)
  CHANGELOG.md
  src/pypgstac/python/pypgstac/db.py
Due: pypgstac

Fix string interpolation
  src/pgstac/sql/002a_queryables.sql
Due: sql

Fix migrations symlink
  docker/pypgstac/Dockerfile
Due: dockerbuild

switch from server_version to server_version_num
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/migrate.py
Due: pypgstac

switch from server_version to server_version_num (#304)
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/migrate.py
Due: pypgstac

Fix migrations symlink (#303)
  docker/pypgstac/Dockerfile
Due: dockerbuild

Fix string interpolation (#302)
  src/pgstac/sql/002a_queryables.sql
Due: sql

update changelog
  CHANGELOG.md
Due: none

update changelog (#306)
  CHANGELOG.md
Due: none

add tests for collections search links
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
Due: none

fix issues with docker and scripts. fix tests. fix issue with collection_search links
  docker-compose.yml
  docker/pgstac/Dockerfile
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/stageversion
  docker/pypgstac/bin/test
  scripts/runinpypgstac
  scripts/stageversion
  scripts/test
  src/pgstac/migrations/pgstac.0.9.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
Due: dockerbuild, sql, migrations

set break-system-packages for ci
  .github/workflows/continuous-integration.yml
Due: none

remove slashes from branch name
  .github/workflows/continuous-integration.yml
Due: none

add tests for collections search links (#310)
  .github/workflows/continuous-integration.yml
  docker-compose.yml
  docker/pgstac/Dockerfile
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/stageversion
  docker/pypgstac/bin/test
  scripts/runinpypgstac
  scripts/stageversion
  scripts/test
  src/pgstac/migrations/pgstac.0.9.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
Due: dockerbuild, sql, migrations

update scripts/ci
  .github/workflows/civ2.yml
  .gitignore
  .pre-commit-config.yaml
  CHANGELOG.md
  docker-compose.yml
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/initpgstac
  docker/pypgstac/bin/makemigration
  docker/pypgstac/bin/stageversion
  docker/pypgstac/bin/test
  scripts/console
  scripts/hardreset
  scripts/nuke
  scripts/runinpypgstac
  scripts/stageversion
  src/pgstac/pgstac.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/__init__.py
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/hydration.py
  src/pypgstac/python/pypgstac/load.py
  src/pypgstac/python/pypgstac/migrate.py
  src/pypgstac/python/pypgstac/pypgstac.py
  src/pypgstac/src/lib.rs
  src/pypgstac/tests/__init__.py
  src/pypgstac/tests/conftest.py
  src/pypgstac/tests/hydration/__init__.py
  src/pypgstac/tests/hydration/test_base_item.py
  src/pypgstac/tests/hydration/test_dehydrate.py
  src/pypgstac/tests/hydration/test_dehydrate_pg.py
  src/pypgstac/tests/hydration/test_hydrate.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
  src/pypgstac/tests/test_load.py
  src/pypgstac/uv.lock
Due: dockerbuild, sql, pypgstac

update scripts/ci
  .github/workflows/civ2.yml
Due: none

Path conditions:
  dockerbuild: any of: Dockerfile$|\.rs$
  sql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
