Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
    -   id: detect-aws-credentials
        args: [--allow-missing-credential]
    -   id: detect-private-key
    -   id: check-json
    -   id: mixed-line-ending
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
    -   id: check-symlinks


-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.284'
    hooks:
    -   id: ruff
        files: pypgstac\/.*\.py$
        args: [--fix, --exit-non-zero-on-fix]

-   repo: local
    hooks:
    -   id: dockerbuild
        name: dockerbuild
        entry: scripts/update
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: Dockerfile$|\.rs$
    -   id: sql
        name: sql
        entry: scripts/test
        args: [--basicsql, --pgtap]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: sql\/.*\.sql$
    -   id: formatting
        name: formatting
        entry: scripts/test
        args: [--formatting]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        always_run: true
    -   id: pypgstac
        name: pypgstac
        entry: scripts/test
        args: [--pypgstac]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: pypgstac\/.*\.py$
    -   id: migrations
        name: migrations
        entry: scripts/test
        args: [--migrations]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: migrations\/.*\.sql$

Add numberReturned and numberMatched fields to ItemCollection
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
Due: sql

Add numberReturned and numberMatched fields to ItemCollection (#254)
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
Due: sql

attempt at fix that I can't replicate
  concurrenttest/go.mod
  concurrenttest/go.sum
  concurrenttest/main.go
  src/pgstac/sql/004_search.sql
  test.sh
Due: sql

add support for casei and accenti
  src/pgstac/migrations/pgstac.0.8.5-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

Refactor search_where and search_query functions, change raise logs to raise debug1
  concurrenttest/go.mod
  concurrenttest/go.sum
  concurrenttest/main.go
  docker/pypgstac/bin/test
  src/pgstac/migrations/pgstac.0.8.5-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/006_tilesearch.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/xyz_searches.sql
  src/pgstac/tests/basic/xyz_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
  test.sh
Due: sql, pypgstac, migrations

don't compute where stats in search_query
  src/pgstac/migrations/pgstac.0.8.5-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
Due: sql, migrations

add support for casei and accenti (#256)
  src/pgstac/migrations/pgstac.0.8.5-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

Fix issue with concurrent identical searches (Fixes #233), Change "log" level messaging to "debug1" (Fixes #242) (#258)
  docker-compose.yml
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/test
  src/pgstac/migrations/pgstac.0.8.5-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/006_tilesearch.sql
  src/pgstac/tests/basic/xyz_searches.sql
  src/pgstac/tests/basic/xyz_searches.sql.out
Due: dockerbuild, sql, migrations

Add information on automated collection extents trigger
  CHANGELOG.md
  docs/src/pypgstac.md
Due: none

Remove duplicate mention of unreleased section
  CHANGELOG.md
Due: none

Add information on automated collection extents trigger (#259)
  CHANGELOG.md
  docs/src/pypgstac.md
Due: none

Allow `None` in rehydration
  src/pypgstac/src/lib.rs
  src/pypgstac/tests/hydration/test_hydrate.py
Due: dockerbuild, pypgstac

Upgrade to 0.20
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/src/lib.rs
Due: dockerbuild

Bump to pyo3 0.21
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/src/lib.rs
Due: dockerbuild

Allow `None` in rehydration (#263)
  src/pypgstac/src/lib.rs
  src/pypgstac/tests/hydration/test_hydrate.py
Due: dockerbuild, pypgstac

update changelog
  CHANGELOG.md
  src/pgstac/sql/000_idempotent_pre.sql
Due: sql

Update rust re-hydration code to pyo3 0.21 (#264)
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/src/lib.rs
Due: dockerbuild

Add paging as links rather than as prev/next
  src/pgstac/migrations/pgstac.0.8.5-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
Due: sql, migrations

adjust tests to use links, fix issues found while writing tests
  src/pgstac/migrations/pgstac.0.8.5-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/pgtap/004_search.sql
Due: sql, migrations

add reader to load process
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/load.py
  src/pypgstac/python/pypgstac/pypgstac.py
  src/pypgstac/python/pypgstac/reader.py
Due: pypgstac

adjust basicsql tests for change in paging links
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql.out
Due: none

Paging as links (#266)
  src/pgstac/migrations/pgstac.0.8.5-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/pgtap/004_search.sql
Due: sql, migrations

pgstac to arrow reader
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/dumper.py
Due: pypgstac

update changelog, stage release
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.5-0.9.0.sql
  src/pgstac/migrations/pgstac.0.9.0.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

Stage Release for v0.9.0 (#267)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.5-0.9.0.sql
  src/pgstac/migrations/pgstac.0.9.0.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

stash
  src/pgstac/sql/004_search.sql
  src/pypgstac/python/pypgstac/db.py
Due: sql, pypgstac

Add btree_gist dependency in docs
  docs/src/pgstac.md
Due: none

fix changelog and add 0.8.5 changes
  CHANGELOG.md
Due: none

fix changelog and add 0.8.5 changes (#269)
  CHANGELOG.md
Due: none

Small modifications to adding tests section
  CONTRIBUTING.md
Due: none

Add section on hydration and dehydration
  CONTRIBUTING.md
Due: none

Small changes to contributing documentation (#270)
  CONTRIBUTING.md
Due: none

updates for reading pgstac data, add notebook
  arrowio.ipynb
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/dumper.py
  src/pypgstac/python/pypgstac/reader.py
Due: pypgstac, migrations

Implement schema to/from json
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/pyproject.toml
  src/pypgstac/src/hydrate.rs
  src/pypgstac/src/lib.rs
  src/pypgstac/src/schema.rs
Due: dockerbuild

relax smart-open dependency, use uv in docker image
  docker/pypgstac/Dockerfile
  src/pypgstac/pyproject.toml
Due: dockerbuild

stage migrations
  src/pgstac/migrations/pgstac.0.8.5-0.8.6.sql
  src/pgstac/migrations/pgstac.0.8.6.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

add changelog
  CHANGELOG.md
Due: none

relax smart-open, use uv for docker
  docker/pypgstac/Dockerfile
  src/pypgstac/pyproject.toml
Due: dockerbuild

relax smart-open, use uv for docker (#277)
  docker/pypgstac/Dockerfile
  src/pypgstac/pyproject.toml
Due: dockerbuild

fixes for collection extent updating
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.0-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/basic/partitions.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations
