Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
    -   id: detect-aws-credentials
        args: [--allow-missing-credential]
    -   id: detect-private-key
    -   id: check-json
    -   id: mixed-line-ending
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
    -   id: check-symlinks


-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.8.2'
    hooks:
    -   id: ruff
        files: src/pypgstac\/.*\.py$
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format
        files: src/pypgstac\/.*\.py$


-   repo: local
    hooks:
    -   id: dockerbuild
        name: dockerbuild
        entry: scripts/update
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: Dockerfile$|\.rs$
    -   id: sql
        name: sql
        entry: scripts/test
        args: [--basicsql, --pgtap]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: sql\/.*\.sql$
    -   id: formatting
        name: formatting
        entry: scripts/test
        args: [--formatting]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        always_run: true
    -   id: pypgstac
        name: pypgstac
        entry: scripts/test
        args: [--pypgstac]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: pypgstac\/.*\.py$
    -   id: migrations
        name: migrations
        entry: scripts/test
        args: [--migrations]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: migrations\/.*\.sql$

Fix: correct migration directory name and expand bootstrapping instructions for PgSTAC (#367)
  docs/src/pypgstac.md
Due: none

Feat: add create_missing_collections option to load_queryables method
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/test_queryables.py
Due: pypgstac

Feat: add tests for loading queryables with hyphenated collection names
  src/pypgstac/tests/test_queryables.py
Due: pypgstac

Feat: add `--create-missing-collections` option to CHANGELOG for load_queryables
  CHANGELOG.md
Due: none

refactor pgstacDb class
  src/pypgstac/examples/load_queryables_example.py
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/__init__.py
  src/pypgstac/src/pypgstac/db.py
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/migrate.py
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/conftest.py
  src/pypgstac/tests/hydration/test_dehydrate_pg.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
  src/pypgstac/tests/test_queryables.py
Due: pypgstac

make sure conn exist before putting back
  src/pypgstac/src/pypgstac/db.py
Due: pypgstac

fix: ensure tsquery config usages are consistent
  src/pgstac/migrations/pgstac.0.9.6-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

delete dangling 0.9.2-unreleased migration file
  src/pgstac/migrations/pgstac.0.9.2-unreleased.sql
Due: migrations

update changelog
  CHANGELOG.md
Due: none

fix: tsquery updates (#377)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.6-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

release: prepare 0.9.7 release
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.6-0.9.7.sql
  src/pgstac/migrations/pgstac.0.9.7.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

fix changelog
  CHANGELOG.md
Due: none

release: prepare 0.9.7 release (#378)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.6-0.9.7.sql
  src/pgstac/migrations/pgstac.0.9.7.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

allow array for q full text search
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.7-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

allow array for q full text search (#379)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.7-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

stage v0.9.8
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.7-0.9.8.sql
  src/pgstac/migrations/pgstac.0.9.8.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

stage v0.9.8 (#380)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.7-0.9.8.sql
  src/pgstac/migrations/pgstac.0.9.8.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Added LISTEN/NOTIFY notifications for item operations.
  CHANGELOG.md
  docs/mkdocs.yml
  docs/src/notifications.md
  src/pgstac/sql/007_notifications.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/007_notifications.sql
Due: sql

Revert "Added LISTEN/NOTIFY notifications for item operations."
  CHANGELOG.md
  docs/mkdocs.yml
  docs/src/notifications.md
  src/pgstac/sql/007_notifications.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/007_notifications.sql
Due: sql

Added notification triggers as documentation.
  docs/src/pgstac.md
Due: none

Add LISTEN/NOTIFY notifications for item operations. (#383)
  docs/src/pgstac.md
Due: none

Added note about pgstac UPDATE behavior.
  docs/src/pgstac.md
Due: none

Added note about pgstac UPDATE behavior. (#384)
  docs/src/pgstac.md
Due: none

Added non-root user for container.
  CHANGELOG.md
  docker/pypgstac/Dockerfile
Due: dockerbuild

Add datetime: null when an item has start_datetime and end_datetime but no datetime.
  src/pgstac/sql/003a_items.sql
Due: sql

fix: only include "collection" field if field in object
  src/pgstac/pgstac.sql
Due: none

Specify new jsonb_include across SQL files
  src/pgstac/migrations/pgstac.next.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/001a_jsonutils.sql
Due: sql, migrations

add test
  src/pgstac/tests/basic/collection_searches.sql
  src/pgstac/tests/basic/collection_searches.sql.out
Due: none

Fix tests
  src/pgstac/tests/basic/collection_searches.sql
  src/pgstac/tests/basic/collection_searches.sql.out
Due: none

Revert manual changes
  src/pgstac/migrations/pgstac.next.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/001a_jsonutils.sql
Due: sql, migrations

Attempt correct way at altering SQL
  src/pgstac/migrations/pgstac.0.9.8-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Ensure db connection is closed when disconnected
  src/pypgstac/src/pypgstac/db.py
Due: pypgstac

Revert unrelated changes
  src/pgstac/pgstac.sql
  src/pypgstac/src/pypgstac/db.py
Due: pypgstac

reapply fix
  src/pgstac/pgstac.sql
  src/pgstac/sql/001a_jsonutils.sql
Due: sql

Undo manually changed managed files
  src/pgstac/migrations/pgstac.0.9.8-unreleased.sql
  src/pgstac/migrations/pgstac.0.9.8.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/999_version.sql
Due: sql, migrations

Re-add
  src/pgstac/migrations/pgstac.0.9.8.sql
Due: migrations

Revert change
  src/pgstac/pgstac.sql
Due: none
