Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

dockerbuild:
  name: dockerbuild
  entry: scripts/update
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

sql:
  name: sql
  entry: scripts/test
  args:
  - --basicsql
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

feat: move pgstac rust crate here
  .github/workflows/continuous-integration.yml
  rust/.gitignore
  rust/CHANGELOG.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/README.md
  rust/src/client.rs
  rust/src/lib.rs
  rust/src/page.rs
Due: dockerbuild

fix: set manifest path
  .github/workflows/continuous-integration.yml
Due: none

Complete PR1: pin pgpkg 0.1.1, regenerate migrations, fix test assertions
  .github/instructions/scripts.instructions.md
  .gitignore
  AGENTS.md
  CLAUDE.md
  scripts/container-scripts/stageversion
  src/pgstac-migrate/pyproject.toml
  src/pgstac-migrate/uv.lock
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/basic/xyz_searches.sql
  src/pgstac/tests/basic/xyz_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
Due: sql, migrations

fix: use pypgstac migrate instead
  .github/dependabot.yml
  .github/workflows/continuous-integration.yml
Due: none

fix: use a venv for uv
  .github/workflows/continuous-integration.yml
Due: none

feat: add crates.io publishing
  .github/workflows/release.yml
Due: none

Address PR review feedback and harden migration docs/deps
  .github/workflows/release.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/src/pypgstac.md
  scripts/container-scripts/makemigration
  scripts/container-scripts/stageversion
  scripts/container-scripts/test
  src/pgstac-migrate/README.md
  src/pgstac-migrate/pyproject.toml
  src/pgstac-migrate/scripts/build_artifact.py
  src/pgstac-migrate/uv.lock
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/migrate.py
Due: pypgstac

fix: set search path
  .github/workflows/continuous-integration.yml
Due: none

fix: alter role username
  .github/workflows/continuous-integration.yml
Due: none

Move pgstac_hash into search SQL
  CHANGELOG.md
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/004_search.sql
Due: sql, migrations

Refine unreleased changelog for search cache hardening
  CHANGELOG.md
Due: none

feat: move pgstac rust crate here (#438)
  .github/dependabot.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
  rust/.gitignore
  rust/CHANGELOG.md
  rust/Cargo.lock
  rust/Cargo.toml
  rust/README.md
  rust/src/client.rs
  rust/src/lib.rs
  rust/src/page.rs
Due: dockerbuild

Enable pg_stat_statements and pg_cron in test image
  CHANGELOG.md
  docker/pgstac/Dockerfile
  docker/pgstac/dbinit/pgstac.sh
  scripts/container-scripts/test
Due: dockerbuild

Wire search_query updatestats into where_stats
  src/pgstac/sql/004_search.sql
Due: sql

Update unreleased changelog for search stats refresh
  CHANGELOG.md
Due: none

Move Rust crate under src
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
  src/pgstac-rs/.gitignore
  src/pgstac-rs/CHANGELOG.md
  src/pgstac-rs/Cargo.lock
  src/pgstac-rs/Cargo.toml
  src/pgstac-rs/README.md
  src/pgstac-rs/src/client.rs
  src/pgstac-rs/src/lib.rs
  src/pgstac-rs/src/page.rs
Due: dockerbuild

don't save _PLAN.md docs
  .gitignore
Due: none

Document Rust crate move
  CHANGELOG.md
Due: none

Fix server extension smoke test db selection
  CHANGELOG.md
  scripts/container-scripts/test
Due: none

Harden CI extension smoke tests and tighten changelog
  CHANGELOG.md
  scripts/container-scripts/test
Due: none

Remove content_slim and regenerate SQL artifacts
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
Due: sql, migrations

items: add lifecycle metadata and tombstone GC
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
Due: sql, migrations

Harden search cache and add pg_stat_statements/pg_cron support (#440)
  .github/instructions/scripts.instructions.md
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  docker/pgstac/Dockerfile
  docker/pgstac/dbinit/pgstac.sh
  scripts/container-scripts/stageversion
  scripts/container-scripts/test
  src/pgstac-rs/.gitignore
  src/pgstac-rs/CHANGELOG.md
  src/pgstac-rs/Cargo.lock
  src/pgstac-rs/Cargo.toml
  src/pgstac-rs/README.md
  src/pgstac-rs/src/client.rs
  src/pgstac-rs/src/lib.rs
  src/pgstac-rs/src/page.rs
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/basic/xyz_searches.sql
  src/pgstac/tests/basic/xyz_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
Due: dockerbuild, sql, migrations

Update CHANGELOG
  CHANGELOG.md
Due: none

Refactor item insert triggers, dehydration, and pypgstac loaders
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pypgstac/src/pypgstac/load.py
Due: sql, pypgstac, migrations

Update changelog for PR2
  CHANGELOG.md
Due: none

Add batched tombstone GC with committed procedure
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
Due: sql, migrations

Document batched tombstone GC in changelog
  CHANGELOG.md
Due: none

registry: add item_field_registry table and jsonb_field_rows walker
  pr2_body.md
  pr3_debugging_summary.md
  pypgstac_tests.log
  pypgstac_tests_2.log
Due: none

fragments: add extract_fragment, get_or_create_fragment, and gc_fragments functions
  src/pgstac/sql/003a_items.sql
Due: sql

Optimize ingestion and metadata search lifecycle (#441)
  CHANGELOG.md
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
  src/pypgstac/src/pypgstac/load.py
Due: sql, pypgstac, migrations

feat: add item_fragments, item_field_registry tables with split storage columns and registry sampling
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
Due: migrations

feat: item_fragments, item_field_registry, split columns, and field registry functions
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
Due: sql, migrations

docs: mark PR3+PR4 phases complete
  V0.10.0_RESTRUCTURE_PLAN.md
Due: none

fix migration FK and add PR3/PR4 coverage
  V0.10.0_RESTRUCTURE_PLAN.md
  pr2_body.md
  pr3_debugging_summary.md
  pypgstac_tests.log
  pypgstac_tests_2.log
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/tests/pgtap/003_items.sql
Due: sql, migrations

bench: add plprofiler to pgstac Docker image and SQL benchmark scripts
  docker/pgstac/Dockerfile
  scripts/benchmark_dehydrate.sql
  scripts/benchmark_dehydrate_v2.sql
Due: dockerbuild

jsonb: fix null preservation in merge_jsonb/strip_jsonb; add fragment path helpers
  src/pgstac/sql/001a_jsonutils.sql
Due: sql

collections: add fragment_config text[] and auto-derivation from item_assets
  src/pgstac/sql/002_collections.sql
Due: sql

queryables: route promoted columns to native item paths; fix CQL cast bypass
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/002b_cql.sql
Due: sql

Path conditions:
  dockerbuild: any of: Dockerfile$|\.rs$
  sql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
