Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

dockerbuild:
  name: dockerbuild
  entry: scripts/update
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

sql:
  name: sql
  entry: scripts/test
  args:
  - --basicsql
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

ci: enable the rust-crate test job
  .github/workflows/continuous-integration.yml
Due: none

feat(pgstac): error on items with a nonexistent collection in SQL ingest
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
Due: sql

feat(pgstac-rs): add --skip-unchanged precheck to load; id-only for ignore
  src/pgstac-rs/src/bin/pgstac.rs
  src/pgstac-rs/src/load/ingest.rs
  src/pgstac-rs/tests/concurrency.rs
Due: dockerbuild

fix(pgstac-rs): gate precheck behind `pool`; add feature-matrix CI
  .github/workflows/continuous-integration.yml
  src/pgstac-rs/src/load/ingest.rs
  src/pgstac-rs/tests/dump_e2e.rs
  src/pgstac-rs/tests/dump_followups.rs
Due: dockerbuild

docs(pgstac-rs): fix broken rustdoc links + features list; check docs in CI
  .github/workflows/continuous-integration.yml
  src/pgstac-rs/src/db/client.rs
  src/pgstac-rs/src/export/mod.rs
  src/pgstac-rs/src/lib.rs
  src/pgstac-rs/src/load/dehydrate.rs
  src/pgstac-rs/src/load/ingest.rs
  src/pgstac-rs/src/read/feature.rs
Due: dockerbuild

docs(pgstac): correct the jsonb_canonical "RFC 8785" comments
  src/pgstac/pgstac.sql
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/003a_items.sql
Due: sql

refactor(pgstac-rs): dedup the CLI policy enum; erroring int cast; named constants
  src/pgstac-rs/src/bin/pgstac.rs
  src/pgstac-rs/src/load/dehydrate.rs
  src/pgstac-rs/src/load/ingest.rs
Due: dockerbuild

feat(pgstac): finish indexes_pending — defer queryable indexes to an async sweep
  src/pgstac/pgstac.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/997_maintenance.sql
Due: sql

fix(pgstac-rs): set search_path on cloned test databases
  src/pgstac-rs/src/lib.rs
Due: dockerbuild

refactor(pgstac-rs): delete the Pgstac trait; one Client surface (#458)
  src/pgstac-rs/src/api/stac_api.rs
  src/pgstac-rs/src/db/call.rs
  src/pgstac-rs/src/db/client.rs
  src/pgstac-rs/src/db/mod.rs
  src/pgstac-rs/src/db/pool.rs
  src/pgstac-rs/src/lib.rs
  src/pgstac-rs/src/read/collections.rs
  src/pgstac-rs/src/read/page.rs
Due: dockerbuild

fix(pgstac-rs): an explicit --dsn overrides ambient PG* env
  src/pgstac-rs/src/bin/pgstac.rs
  src/pgstac-rs/src/db/connect.rs
Due: dockerbuild

fix: refresh partition materialized views concurrently to avoid ACCESS EXCLUSIVE locks
  CHANGELOG.md
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/003_items.sql
Due: sql, migrations

fix search limit with the same id in different collections
  src/pgstac/pgstac.sql
  src/pgstac/sql/002d_keyset.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pypgstac/src/pypgstac/load.py
Due: sql, pypgstac

update changelog
  CHANGELOG.md
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/basic/hydration.sql.out
Due: none

add tests
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/004_search.sql
Due: none

address issues from reviews
  src/pgstac-rs/Cargo.toml
  src/pgstac-rs/src/api/stac_api.rs
  src/pgstac-rs/src/bin/pgstac.rs
  src/pgstac-rs/src/export/planner.rs
  src/pgstac-rs/src/json/canonical.rs
  src/pgstac-rs/src/lib.rs
  src/pgstac-rs/src/load/mod.rs
  src/pgstac-rs/src/load/queryables.rs
  src/pgstac-rs/src/python/mod.rs
  src/pgstac-rs/src/read/page.rs
Due: dockerbuild

fix issue in item hash parity between postgres/rust
  src/pgstac-rs/Cargo.toml
  src/pgstac-rs/src/json/canonical.rs
  src/pgstac-rs/src/load/dehydrate.rs
  src/pgstac-rs/src/load/ingest.rs
  src/pgstac-rs/tests/canonical_parity.rs
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/003a_items.sql
Due: dockerbuild, sql

fix tests
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/tests/pgtap/001a_jsonutils.sql
Due: migrations

address issues from review
  CHANGELOG.md
  scripts/container-scripts/test
  scripts/pgstac-rs-test-db
  scripts/pgstac-rs-test-rich-db
  scripts/test
  src/pgstac-rs/Cargo.lock
  src/pgstac-rs/Cargo.toml
  src/pgstac-rs/src/bin/pgstac.rs
  src/pgstac-rs/src/db/client.rs
  src/pgstac-rs/src/db/connect.rs
  src/pgstac-rs/src/db/pool.rs
  src/pgstac-rs/src/export/budget.rs
  src/pgstac-rs/src/export/format.rs
  src/pgstac-rs/src/export/metadata.rs
  src/pgstac-rs/src/export/planner.rs
  src/pgstac-rs/src/export/sink.rs
  src/pgstac-rs/src/json/geom.rs
  src/pgstac-rs/src/lib.rs
  src/pgstac-rs/src/load/ingest.rs
  src/pgstac-rs/src/python/mod.rs
  src/pgstac-rs/src/read/feature.rs
  src/pgstac-rs/src/read/page.rs
  src/pgstac-rs/src/read/source.rs
  src/pgstac-rs/src/read/stream.rs
  src/pgstac-rs/tests/canonical_parity.rs
  src/pgstac-rs/tests/cli.rs
  src/pgstac-rs/tests/dehydrate_parity.rs
Due: dockerbuild

fix rust test runner
  .github/workflows/continuous-integration.yml
  scripts/container-scripts/test
  src/pgstac-rs/src/db/pool.rs
Due: dockerbuild

further reduce gap between rustac and pgstac, requires https://github.com/stac-utils/rustac/pull/1077 on the rustac side
  .github/dependabot.yml
  src/pgstac-rs/Cargo.lock
  src/pgstac-rs/Cargo.toml
  src/pgstac-rs/src/api/stac_api.rs
  src/pgstac-rs/src/bin/pgstac.rs
  src/pgstac-rs/src/db/client.rs
  src/pgstac-rs/src/db/connect.rs
  src/pgstac-rs/src/export/planner.rs
  src/pgstac-rs/src/export/sink.rs
  src/pgstac-rs/src/json/canonical.rs
  src/pgstac-rs/src/lib.rs
  src/pgstac-rs/src/load/mod.rs
  src/pgstac-rs/src/load/queryables.rs
  src/pgstac-rs/src/python/mod.rs
  src/pgstac-rs/src/read/feature.rs
  src/pgstac-rs/src/read/stream.rs
  src/pgstac-rs/src/stream_collection.rs
  src/pgstac-rs/tests/extensions.rs
  src/pgstac-rs/tests/queryables.rs
  src/pgstac-rs/tests/stream.rs
Due: dockerbuild

pin to rustac branch so ci can pass
  src/pgstac-rs/Cargo.lock
  src/pgstac-rs/Cargo.toml
Due: none

rename python module/package name to just pgstac, include the rust cli binary in the python wheel
  .github/workflows/continuous-integration.yml
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/src/index.md
  docs/src/pgstac-rs.md
  docs/src/pypgstac.md
  docs/src/release-notes.md
  src/pgstac-rs/README.md
  src/pgstac-rs/pyproject.toml
  src/pgstac-rs/src/python/mod.rs
Due: dockerbuild

refactor: adapt to stac-io's streaming writer returning stac_io::Error
  src/pgstac-rs/src/bin/pgstac.rs
  src/pgstac-rs/src/stream_collection.rs
Due: dockerbuild

chore: update stac-io patch to the pgstac-search-parity tip
  src/pgstac-rs/Cargo.lock
Due: none

fix: recognize dotted queryable property names in index extraction
  CHANGELOG.md
  src/pgstac/pgstac.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: sql

fix: generate queryable indexes on the split properties column
  CHANGELOG.md
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: sql, migrations

fixes for concurrency issues
  .github/workflows/continuous-integration.yml
  CHANGELOG.md
  docker/pypgstac/bin/test
  docs/src/pgstac.md
  src/pgstac/migrations/pgstac.0.9.11-0.9.12.sql
  src/pgstac/migrations/pgstac.0.9.12.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/basic/partition_stats.sql
  src/pgstac/tests/basic/partition_stats.sql.out
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pgstac/tests/basic/search_path.sql
  src/pgstac/tests/basic/search_path.sql.out
  src/pgstac/tests/migration/snapshot.sql
  src/pgstac/tests/migration/verify.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/000_security.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/migrate.py
  src/pypgstac/src/pypgstac/version.py
  src/pypgstac/tests/test_concurrency.py
Due: sql, pypgstac, migrations

fixes for concurrency issues (#473)
  .github/workflows/continuous-integration.yml
  CHANGELOG.md
  docker/pypgstac/bin/test
  docs/src/pgstac.md
  src/pgstac/migrations/pgstac.0.9.11-0.9.12.sql
  src/pgstac/migrations/pgstac.0.9.12.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/basic/partition_stats.sql
  src/pgstac/tests/basic/partition_stats.sql.out
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pgstac/tests/basic/search_path.sql
  src/pgstac/tests/basic/search_path.sql.out
  src/pgstac/tests/migration/snapshot.sql
  src/pgstac/tests/migration/verify.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/000_security.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/migrate.py
  src/pypgstac/src/pypgstac/version.py
  src/pypgstac/tests/test_concurrency.py
Due: sql, pypgstac, migrations

Fix partition stats after inserts, updates, deletes, and bulk flushes
  src/pgstac-rs/src/load/ingest.rs
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/003c_ingest.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/000_privileges.sql
  src/pgstac/tests/pgtap/003_items.sql
Due: dockerbuild, sql, migrations

fix(docker): backport trixie postgres base
  CHANGELOG.md
  docker/pgstac/Dockerfile
Due: dockerbuild

Fix queued query error tracking
  CHANGELOG.md
  docs/src/release-notes.md
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
Due: sql, migrations

chore: set search_path on more pgSTAC functions
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/001s_stacutils.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
Due: sql

add the ability to modify collections affecting base_items used in hydration with versioning on base_items
  CHANGELOG.md
  CONTRIBUTING.md
  docker/pgstac/Dockerfile
  docker/pgstac/dbinit/pgstac-rust-preinit.sh
  docker/pgstac/dbinit/pgstac-rust.sh
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/initpgstac
  docker/pypgstac/bin/stageversion
  docker/pypgstac/bin/test
  docs/src/pgstac.md
  src/pgstac/migrations/pgstac.0.9.12-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/006_tilesearch.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/migration/snapshot.sql
  src/pgstac/tests/migration/verify.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002_collections.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/version.py
  src/pypgstac/tests/test_base_items.py
Due: dockerbuild, sql, pypgstac, migrations

Tag loaded items with their base item and load queryables through upsert_queryable
  docs/src/pypgstac.md
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/conftest.py
  src/pypgstac/tests/test_concurrency.py
  src/pypgstac/tests/test_load.py
  src/pypgstac/tests/test_queryables.py
Due: pypgstac

Make makemigration wait for the database and keep generated .sql.out files
  docker/pypgstac/bin/makemigration
  docker/pypgstac/bin/test
  scripts/test
Due: none

Path conditions:
  dockerbuild: any of: Dockerfile$|\.rs$
  sql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
