Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
    -   id: detect-aws-credentials
        args: [--allow-missing-credential]
    -   id: detect-private-key
    -   id: check-json
    -   id: mixed-line-ending
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
    -   id: check-symlinks


-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.8.2'
    hooks:
    -   id: ruff
        files: src/pypgstac\/.*\.py$
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format
        files: src/pypgstac\/.*\.py$


-   repo: local
    hooks:
    -   id: dockerbuild
        name: dockerbuild
        entry: scripts/update
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: Dockerfile$|\.rs$
    -   id: sql
        name: sql
        entry: scripts/test
        args: [--basicsql, --pgtap]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: sql\/.*\.sql$
    -   id: formatting
        name: formatting
        entry: scripts/test
        args: [--formatting]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        always_run: true
    -   id: pypgstac
        name: pypgstac
        entry: scripts/test
        args: [--pypgstac]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: pypgstac\/.*\.py$
    -   id: migrations
        name: migrations
        entry: scripts/test
        args: [--migrations]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: migrations\/.*\.sql$

Retry queued statements instead of discarding them
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/pgtap/000_security.sql
  src/pypgstac/src/pypgstac/db.py
Due: sql, pypgstac

Version base items and fix collection delete for pgstac_ingest
  docker/pypgstac/bin/test
  docs/src/pgstac.md
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/tests/basic/partition_stats.sql
  src/pgstac/tests/basic/partition_stats.sql.out
  src/pgstac/tests/migration/snapshot.sql
  src/pgstac/tests/migration/verify.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/002_collections.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pypgstac/tests/hydration/test_hydrate_pg.py
  src/pypgstac/tests/test_base_items.py
Due: sql, pypgstac

Read partition bounds under a pinned DateStyle and honour existing partition alignment
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/003b_partitions.sql
Due: sql

Emit progress and trace messages at DEBUG instead of NOTICE
  src/pgstac/sql/001s_stacutils.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/006_tilesearch.sql
  src/pgstac/sql/997_maintenance.sql
Due: sql

Finish 0.10.0 release notes
  CHANGELOG.md
  docs/src/pgstac.md
  docs/src/pypgstac.md
Due: none

Manage queryables through functions and match indexes by definition
  docker/pypgstac/bin/test
  docs/src/pgstac.md
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/pgtap/000_security.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pypgstac/tests/test_concurrency.py
Due: sql, pypgstac

Resolve CQL2 properties through queryable() and honour both temporal operands
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/pgtap/004_search.sql
Due: sql

Fix run_queued_queries error carry-over and live DROPs in 000_idempotent_pre
  docker/pypgstac/bin/test
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/998_idempotent_post.sql
Due: sql

Move images to trixie, update CI actions and ruff
  .github/workflows/continuous-integration.yml
  .github/workflows/deploy_mkdocs.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docker/pgstac/Dockerfile
  docker/pgstac/dbinit/pgstac-rust-preinit.sh
  docker/pgstac/dbinit/pgstac-rust.sh
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/initpgstac
  docker/pypgstac/bin/stageversion
  src/pypgstac/examples/load_queryables_example.py
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/__init__.py
  src/pypgstac/src/pypgstac/db.py
  src/pypgstac/src/pypgstac/hydration.py
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/migrate.py
  src/pypgstac/tests/conftest.py
  src/pypgstac/tests/hydration/test_dehydrate_pg.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
  src/pypgstac/tests/test_concurrency.py
  src/pypgstac/tests/test_queryables.py
Due: dockerbuild, pypgstac

Fix paging, default sort, limit validation, free text terms and collection_search prev link
  docker/pypgstac/bin/test
  docs/src/pgstac.md
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/basic/collection_searches.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
Due: sql

Queue partition maintenance during migration and drain it from pypgstac
  docs/src/pgstac.md
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pypgstac/src/pypgstac/migrate.py
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/test_migrate.py
Due: sql, pypgstac

Stage the 0.10.0 release
  src/pgstac/migrations/pgstac.0.10.0.sql
  src/pgstac/migrations/pgstac.0.9.12-0.10.0.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

update versions to get ci to pass when using python 3.13
  CHANGELOG.md
  src/pypgstac/pyproject.toml
Due: none

fix json schema pointer for geojson in queryables
  CHANGELOG.md
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/makemigration
  src/pgstac/migrations/pgstac.0.10.0.sql
  src/pgstac/migrations/pgstac.0.9.12-0.10.0.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/998_idempotent_post.sql
Due: dockerbuild, sql, migrations

add tests to verify that stac_items behaves as expected with the base_items table
  CHANGELOG.md
  src/pgstac/tests/basic/stac_version.sql
  src/pgstac/tests/basic/stac_version.sql.out
  src/pypgstac/tests/test_base_items.py
Due: pypgstac

update for ci release issue
  .github/workflows/release.yml
Due: none
