Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

dockerbuild:
  name: dockerbuild
  entry: scripts/update
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

sql:
  name: sql
  entry: scripts/test
  args:
  - --basicsql
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

items: split storage schema, fragment dedup, field registry, hydration, and staging
  src/pgstac/sql/003a_items.sql
Due: sql

search: update free-text and collection-search for split properties column
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
Due: sql

permissions: register promoted queryables and grant access to new tables/functions
  src/pgstac/sql/998_idempotent_post.sql
Due: sql

tests: add PGTap/basicsql coverage for split storage; disable pypgstac/migration defaults
  scripts/container-scripts/test
  src/pgstac/pgstac.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/basic/hydration.sql
  src/pgstac/tests/basic/hydration.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/004_search.sql
Due: none

Potential fix for pull request finding
  src/pgstac/sql/003a_items.sql
Due: sql

Potential fix for pull request finding
  src/pgstac/tests/pgtap/004_search.sql
Due: none

chore: update CI, developer tooling, docs, and dev scripts
  .github/instructions/scripts.instructions.md
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  docker/pgstac/Dockerfile
  docs/src/pgstac.md
  scripts/container-scripts/loadsampledata
  scripts/container-scripts/test
  scripts/loadsampledata
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/load.py
Due: dockerbuild, pypgstac

feat(sql): v0.10 split-storage — schema, dehydrate/hydrate, queryables, ingest
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
Due: sql

test: pgtap and basicsql coverage for split-storage
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/basic/hydration.sql
  src/pgstac/tests/basic/hydration.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001a_jsonutils.sql
  src/pgstac/tests/pgtap/002_collections.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
Due: none

chore: regenerate pgstac.sql and migration artifacts
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
Due: migrations

chore: update developer tooling, docs, and dev scripts
  .github/instructions/scripts.instructions.md
  .gitignore
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  docker/pgstac/Dockerfile
  docs/src/pgstac.md
  scripts/container-scripts/loadsampledata
  scripts/container-scripts/test
  scripts/loadsampledata
Due: dockerbuild

feat(sql): v0.10 split-storage — schema, dehydrate/hydrate, queryables, ingest
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/sql/998_idempotent_post.sql
Due: sql

test: pgtap and basicsql coverage for split-storage
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pgstac/tests/basic/hydration.sql
  src/pgstac/tests/basic/hydration.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001a_jsonutils.sql
  src/pgstac/tests/pgtap/002_collections.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/004_search.sql
Due: none

test(datetime): assert datetime:null round-trips correctly (closes #158, #425)
  src/pgstac/tests/basic/hydration.sql
  src/pgstac/tests/basic/hydration.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/003_items.sql
Due: none

refactor(sql): rename content_hash→item_hash (bytea), jsonb_hash, add private, move jsonb_field_rows
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001a_jsonutils.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/004_search.sql
Due: sql

chore: regenerate pgstac.sql and unreleased base migration
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
Due: migrations

Update .github/workflows/continuous-integration.yml
  .github/workflows/continuous-integration.yml
Due: none

fix(schema): align promoted fields with latest STAC core/extension specs
  src/pgstac/pgstac.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: sql

notes on promoted fields
  CHANGELOG.md
  docs/mkdocs.yml
  docs/src/promoted-fields.md
Due: none

feat(partitions): consolidate partition_index into partition_stats; metadata-first sync
  src/pgstac/sql/003b_partitions.sql
Due: sql

feat(tilesearch): prune partitions via the predicate envelope
  src/pgstac/sql/006_tilesearch.sql
Due: sql

docs: CHANGELOG for v0.10 search/sync + dev workflow notes
  CHANGELOG.md
  CLAUDE.md
Due: none

feat(items): collapse content_hydrate to one function; RDS-safe noregistry staging
  src/pgstac/sql/003a_items.sql
Due: sql

test: v0.10 search/partition coverage + plpgsql_check lint gate
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pgstac/tests/basic/search_path.sql
  src/pgstac/tests/basic/search_path.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/plpgsql_check.sql
  src/pypgstac/tests/test_load.py
Due: pypgstac

build: reassemble pgstac.sql
  src/pgstac/pgstac.sql
Due: none

feat(search): streaming search_page + binary search_rows; keyset pagination; default_page_size
  src/pgstac/sql/004_search.sql
Due: sql

feat(cql): predicate envelope + unified CQL2 representation for all filtering
  src/pgstac/sql/002b_cql.sql
Due: sql

chore(sql): idempotent drops + grants for v0.10 search/sync functions
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/998_idempotent_post.sql
Due: sql

feat(search): v0.10 keyset search consolidation
  .gitignore
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/002c_envelope.sql
  src/pgstac/sql/002d_keyset.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/sql/006_tilesearch.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/basic/collection_searches.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/basic/xyz_searches.sql
  src/pgstac/tests/basic/xyz_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/002c_envelope.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
  src/pgstac/tests/plpgsql_check.sql
Due: sql, migrations

Update src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/002b_cql.sql
Due: sql

feat(search): v0.10 keyset search consolidation (#456)
  .gitignore
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002b_cql.sql
  src/pgstac/sql/002c_envelope.sql
  src/pgstac/sql/002d_keyset.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/sql/006_tilesearch.sql
  src/pgstac/sql/997_maintenance.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/basic/collection_searches.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/cql_searches.sql
  src/pgstac/tests/basic/cql_searches.sql.out
  src/pgstac/tests/basic/xyz_searches.sql
  src/pgstac/tests/basic/xyz_searches.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pgstac/tests/pgtap/002c_envelope.sql
  src/pgstac/tests/pgtap/003_items.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/pgtap/004a_collectionsearch.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
  src/pgstac/tests/plpgsql_check.sql
Due: sql, migrations

refactor(pgstac-rs): drop profiling artifacts; fix 3D bbox footprint
  src/pgstac-rs/Cargo.toml
  src/pgstac-rs/examples/memprofile.rs
  src/pgstac-rs/src/bin/pgstac.rs
  src/pgstac-rs/src/export/planner.rs
  src/pgstac-rs/src/ingest.rs
  src/pgstac-rs/tests/stream.rs
Due: dockerbuild

feat(pgstac-rs): implement stac::api client traits on PgstacPool
  src/pgstac-rs/Cargo.lock
  src/pgstac-rs/Cargo.toml
  src/pgstac-rs/src/lib.rs
  src/pgstac-rs/src/page.rs
  src/pgstac-rs/src/stac_api.rs
Due: dockerbuild

Path conditions:
  dockerbuild: any of: Dockerfile$|\.rs$
  sql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
