Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

dockerbuild:
  name: dockerbuild
  entry: scripts/update
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

sql:
  name: sql
  entry: scripts/test
  args:
  - --basicsql
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

Revert change
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: pypgstac

Add unreleased version
  src/pgstac/migrations/pgstac.0.9.8-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

fix: only include "collection" field if field in object (#395)
  src/pgstac/migrations/pgstac.0.9.8-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/collection_searches.sql
  src/pgstac/tests/basic/collection_searches.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Added non-root user for container. (#390)
  CHANGELOG.md
  docker/pypgstac/Dockerfile
Due: dockerbuild

fix: reset connection on close
  CHANGELOG.md
  src/pypgstac/src/pypgstac/db.py
Due: pypgstac

add failing test
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
Due: none

add another test
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
Due: none

fix: combine space-separated terms with & symbol
  src/pgstac/migrations/pgstac.0.9.8-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004_search.sql
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

fix: use adjacency operator for space-separated terms
  src/pgstac/migrations/pgstac.0.9.8-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
Due: sql, migrations

fix: combine space-separated terms with adjacency operator in free-text search (#387)
  src/pgstac/migrations/pgstac.0.9.8-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

release: stage v0.9.9 for release
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.8-0.9.9.sql
  src/pgstac/migrations/pgstac.0.9.9.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

release: stage v0.9.9 for release (#400)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.8-0.9.9.sql
  src/pgstac/migrations/pgstac.0.9.9.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Move datetime:null fix to jsonb content_hydrate to cover all hydration paths
  src/pgstac/sql/003a_items.sql
Due: sql

Add pgtap and basic tests for datetime:null hydration
  src/pgstac/tests/basic/hydration.sql
  src/pgstac/tests/basic/hydration.sql.out
  src/pgstac/tests/pgtap/003_items.sql
Due: none

Update CHANGELOG.md with fix and linked issue
  CHANGELOG.md
Due: none

fix: reset connection on close (#397)
  CHANGELOG.md
  src/pypgstac/src/pypgstac/db.py
Due: pypgstac

fix timestamp handling for non 4 digit years
  src/pgstac/sql/003b_partitions.sql
Due: sql

add tests for date fixes
  src/pgstac/migrations/pgstac.0.9.9-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Partition Constraint TimestampTZ Fix (#403)
  src/pgstac/migrations/pgstac.0.9.9-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Revert content_hydrate datetime:null patch in favour of root-cause fix
  src/pgstac/sql/003a_items.sql
Due: sql

Preserve JSON null values in merge_jsonb and strip_jsonb
  src/pgstac/sql/001a_jsonutils.sql
  src/pgstac/tests/basic/hydration.sql
  src/pgstac/tests/basic/hydration.sql.out
  src/pgstac/tests/pgtap/003_items.sql
Due: sql

update migrations and changelog
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.6-0.9.10.sql
  src/pgstac/migrations/pgstac.0.9.10.sql
  src/pgstac/migrations/pgstac.0.9.9-0.9.10.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

update migrations and changelog (#406)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.6-0.9.10.sql
  src/pgstac/migrations/pgstac.0.9.10.sql
  src/pgstac/migrations/pgstac.0.9.9-0.9.10.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

update python tooling and github actions
  .dockerignore
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
  .gitignore
  .pre-commit-config.yaml
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/format
  docker/pypgstac/bin/initpgstac
  docker/pypgstac/bin/test
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/__init__.py
  src/pypgstac/src/pypgstac/db.py
  src/pypgstac/src/pypgstac/hydration.py
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/migrate.py
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/conftest.py
  src/pypgstac/tests/hydration/test_dehydrate_pg.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
  src/pypgstac/tests/test_queryables.py
  ty.toml
Due: dockerbuild, pypgstac

fix: replace fragile sleep with pg_isready health check for Docker PostgreSQL
  docker-compose.yml
  scripts/runinpypgstac
  src/pypgstac/examples/load_queryables_example.py
Due: pypgstac

fix: correct timestamp regex in partition constraint parsing
  src/pgstac/sql/003b_partitions.sql
Due: sql

fix: add ANALYZE to update_partition_stats for deterministic spatial extents
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
Due: sql

fix: improve loader retry robustness for concurrent operations
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

test: add race condition and search path independence tests
  src/pgstac/tests/basic/search_path.sql
  src/pgstac/tests/basic/search_path.sql.out
  src/pypgstac/tests/test_load.py
Due: pypgstac

docs: add AI development documentation and editor config
  .editorconfig
  .github/copilot-instructions.md
  .github/instructions/migrations.instructions.md
  .github/instructions/pypgstac.instructions.md
  .github/instructions/scripts.instructions.md
  .github/instructions/sql-source.instructions.md
  .github/prompts/add-sql-function.prompt.md
  .github/prompts/debug-loader.prompt.md
  .github/prompts/stage-version.prompt.md
  AGENTS.md
  CLAUDE.md
Due: none

chore: update CHANGELOG and release notes for unreleased changes
  CHANGELOG.md
Due: none

chore: stage unreleased version with generated migrations
  src/pgstac/migrations/pgstac.0.9.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

feat: add pgstac_restore script and fix pg_dump compatibility
  .github/instructions/sql-source.instructions.md
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/pgstac_restore
  docker/pypgstac/bin/test
  docs/src/pgstac.md
  src/pgstac/pgstac.sql
  src/pgstac/sql/004_search.sql
Due: dockerbuild, sql

fix: restore PGDATABASE after test_migrations to prevent test_pgdump failure
  docker/pypgstac/bin/test
Due: none

Fix CI pg_dump client/server version mismatch
  .github/workflows/continuous-integration.yml
Due: none

Fix CI test step PATH for pgstac_restore command
  .github/workflows/continuous-integration.yml
Due: none

Fix pgstac_restore PATH in test script and tighten dependency version constraints
  docker/pypgstac/bin/test
  src/pypgstac/pyproject.toml
Due: none

fix for version parsing for dev releases in pypgstac
  src/pgstac/migrations/pgstac.0.9.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/tests/test_load.py
Due: pypgstac, migrations

Path conditions:
  dockerbuild: any of: Dockerfile$|\.rs$
  sql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
