Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

dockerbuild:
  name: dockerbuild
  entry: scripts/update
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

sql:
  name: sql
  entry: scripts/test
  args:
  - --basicsql
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

fix ci
  .github/workflows/continuous-integration.yml
Due: none

fix ci
  .github/workflows/civ2.yml
Due: none

fix ci
  .github/workflows/civ2.yml
  docker/pgstac/Dockerfile
  docker/pypgstac/Dockerfile
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/004_search.sql
  src/pgstac/tests/pgtap/999_testreadonly.sql
  src/pgstac/tests/pgtap/999_version.sql
Due: dockerbuild

fix ci
  .github/workflows/civ2.yml
  docker/pypgstac/Dockerfile
Due: dockerbuild

refactor: remove rust hydration
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/pyproject.toml
  src/pypgstac/src/lib.rs
  src/pypgstac/src/pypgstac/__init__.py
  src/pypgstac/src/pypgstac/db.py
  src/pypgstac/src/pypgstac/hydration.py
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/migrate.py
  src/pypgstac/src/pypgstac/migrations
  src/pypgstac/src/pypgstac/py.typed
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/src/pypgstac/version.py
Due: dockerbuild, pypgstac

ci: remove maturin
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
Due: none

deps: relax hydraters a bit
  src/pypgstac/pyproject.toml
Due: none

Remove Rust hydration (#316)
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
  src/pypgstac/Cargo.lock
  src/pypgstac/Cargo.toml
  src/pypgstac/pyproject.toml
  src/pypgstac/src/lib.rs
  src/pypgstac/src/pypgstac/__init__.py
  src/pypgstac/src/pypgstac/db.py
  src/pypgstac/src/pypgstac/hydration.py
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/migrate.py
  src/pypgstac/src/pypgstac/migrations
  src/pypgstac/src/pypgstac/py.typed
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/src/pypgstac/version.py
Due: dockerbuild, pypgstac

partition_steps name fix
  src/pgstac/sql/003b_partitions.sql
Due: sql

Allow docker entrypoint to execute `psql` command in shell script if `PGHOST` is set
  CHANGELOG.md
  docker/pgstac/dbinit/docker-entrypoint.sh
Due: none

Path conditions:
  dockerbuild: any of: Dockerfile$|\.rs$
  sql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
