Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
    -   id: detect-aws-credentials
        args: [--allow-missing-credential]
    -   id: detect-private-key
    -   id: check-json
    -   id: mixed-line-ending
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
    -   id: check-symlinks


-   repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: 'v0.0.284'
    hooks:
    -   id: ruff
        files: pypgstac\/.*\.py$
        args: [--fix, --exit-non-zero-on-fix]

-   repo: local
    hooks:
    -   id: dockerbuild
        name: dockerbuild
        entry: scripts/update
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: Dockerfile$|\.rs$
    -   id: sql
        name: sql
        entry: scripts/test
        args: [--basicsql, --pgtap]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: sql\/.*\.sql$
    -   id: formatting
        name: formatting
        entry: scripts/test
        args: [--formatting]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        always_run: true
    -   id: pypgstac
        name: pypgstac
        entry: scripts/test
        args: [--pypgstac]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: pypgstac\/.*\.py$
    -   id: migrations
        name: migrations
        entry: scripts/test
        args: [--migrations]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: migrations\/.*\.sql$

fix issues to ensure creating indexes as pgstac_admin role
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
Due: sql, migrations

update changelog
  CHANGELOG.md
Due: none

Various Bug Fixes (#226)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/002_collections.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/998_idempotent_post.sql
  src/pgstac/tests/basic/cql2_searches.sql
  src/pgstac/tests/basic/cql2_searches.sql.out
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pgstac/tests/pgtap.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/load.py
  src/pypgstac/python/pypgstac/pypgstac.py
  src/pypgstac/tests/test_load.py
Due: sql, pypgstac, migrations

update changelog for release
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.1-0.8.2.sql
  src/pgstac/migrations/pgstac.0.8.2.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

update changelog for release (#228)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.1-0.8.2.sql
  src/pgstac/migrations/pgstac.0.8.2.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

add arm64 infrastructure for pgstac Docker images
  .github/workflows/release.yml
Due: none

add arm64 infrastructure for pgstac Docker images (#229)
  .github/workflows/release.yml
Due: none

fix for upsert_item and upsert_items functions
  src/pgstac/migrations/pgstac.0.8.2-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

fix for upsert_item and upsert_items functions (#232)
  src/pgstac/migrations/pgstac.0.8.2-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/crud_functions.sql
  src/pgstac/tests/basic/crud_functions.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

update changelog, prep release
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.2-0.8.3.sql
  src/pgstac/migrations/pgstac.0.8.3.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

update changelog linking
  CHANGELOG.md
Due: none

Release for v0.8.3 (#234)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.2-0.8.3.sql
  src/pgstac/migrations/pgstac.0.8.3.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

Don't build plrust support in Docker images pushed in CI. Update PLRUST version.
  .github/workflows/release.yml
  docker/pgstac/Dockerfile
Due: dockerbuild

Add comments to dockerfile
  docker/pgstac/Dockerfile
Due: dockerbuild

update plrustversion
  docker/pgstac/Dockerfile
Due: dockerbuild

Start incremental migration tests at 0.3.0 as pg_partman which is only used prior to v0.3.0 introduced a breaking change with no way to pin to earlier version
  docker/pypgstac/bin/test
Due: none

Add platforms and comments to ci build for PRs
  .github/workflows/continuous-integration.yml
Due: none

remove verbose name
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
Due: none

Fix for CI docker builds. (#235)
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
  docker/pgstac/Dockerfile
  docker/pypgstac/bin/test
Due: dockerbuild

stage release for v0.8.4
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.3-0.8.4.sql
  src/pgstac/migrations/pgstac.0.8.4.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

stage release for v0.8.4 (#236)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.3-0.8.4.sql
  src/pgstac/migrations/pgstac.0.8.4.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

Add partition_update_enabled option
  src/pypgstac/python/pypgstac/load.py
  src/pypgstac/python/pypgstac/pypgstac.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

Enable querying of the geometry column even when strict mode is activated
  src/pgstac/sql/002b_cql.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: sql

Make caps consistent: PgSTAC, pyPgSTAC
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  docs/src/pgstac.md
  docs/src/pypgstac.md
  src/pypgstac/README.md
  src/pypgstac/python/pypgstac/__init__.py
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/migrate.py
  src/pypgstac/python/pypgstac/pypgstac.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
Due: pypgstac

Capitalization consistency: STAC
  README.md
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/pypgstac.py
Due: pypgstac

Make consistent: STAC, PgSTAC, pyPgSTAC (#244)
  .devcontainer/devcontainer.json
  CONTRIBUTING.md
  README.md
  docs/src/pgstac.md
  docs/src/pypgstac.md
  src/pypgstac/README.md
  src/pypgstac/python/pypgstac/__init__.py
  src/pypgstac/python/pypgstac/db.py
  src/pypgstac/python/pypgstac/migrate.py
  src/pypgstac/python/pypgstac/pypgstac.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
Due: pypgstac

Minor typo fix
  docs/src/pgstac.md
Due: none

Minor typo fix (#245)
  docs/src/pgstac.md
Due: none

edit docs
  docs/src/pgstac.md
  docs/src/pypgstac.md
Due: none

Enable querying of the geometry column even when strict mode is activated (#240)
  src/pgstac/sql/002b_cql.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
Due: sql

edit docs (#246)
  docs/src/pgstac.md
  docs/src/pypgstac.md
Due: none

mend
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.1-0.8.2.sql
  src/pgstac/migrations/pgstac.0.8.3-0.8.4.sql
  src/pgstac/migrations/pgstac.0.8.3.sql
  src/pgstac/migrations/pgstac.0.8.4-unreleased.sql
  src/pgstac/migrations/pgstac.0.8.4.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

mend (#248)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.1-0.8.2.sql
  src/pgstac/migrations/pgstac.0.8.3-0.8.4.sql
  src/pgstac/migrations/pgstac.0.8.3.sql
  src/pgstac/migrations/pgstac.0.8.4-unreleased.sql
  src/pgstac/migrations/pgstac.0.8.4.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/pgtap/002a_queryables.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

stage v0.8.5 release
  src/pgstac/migrations/pgstac.0.8.4-0.8.5.sql
  src/pgstac/migrations/pgstac.0.8.5.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

stage v0.8.5 release (#250)
  src/pgstac/migrations/pgstac.0.8.4-0.8.5.sql
  src/pgstac/migrations/pgstac.0.8.5.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/python/pypgstac/version.py
Due: sql, pypgstac, migrations

Fix CQL2 parser for BETWEEN operator
  src/pgstac/sql/002b_cql.sql
Due: sql

Update the test
  src/pgstac/tests/pgtap/004_search.sql
Due: none

Fix CQL2 parser for BETWEEN operator (#251)
  src/pgstac/sql/002b_cql.sql
  src/pgstac/tests/pgtap/004_search.sql
Due: sql

Fix typo (cql-json2 -> cql2-json)
  docs/src/pgstac.md
Due: none

Fix typo (cql-json2 -> cql2-json) (#253)
  docs/src/pgstac.md
Due: none
