Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

dockerbuild:
  name: dockerbuild
  entry: scripts/update
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

sql:
  name: sql
  entry: scripts/test
  args:
  - --basicsql
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

ci: pin GitHub Actions to SHA digests
  .github/workflows/continuous-integration.yml
  .github/workflows/deploy_mkdocs.yml
  .github/workflows/release.yml
Due: none

ci: add Dependabot for GitHub Actions version updates
  .github/dependabot.yml
Due: none

ci: pin GitHub Actions to SHA digests (#410)
  .github/workflows/continuous-integration.yml
  .github/workflows/deploy_mkdocs.yml
  .github/workflows/release.yml
Due: none

ci: add Dependabot for GitHub Actions version updates (#411)
  .github/dependabot.yml
Due: none

Fix/partition constraints and loader robustness (#408)
  .editorconfig
  .github/copilot-instructions.md
  .github/instructions/migrations.instructions.md
  .github/instructions/pypgstac.instructions.md
  .github/instructions/scripts.instructions.md
  .github/instructions/sql-source.instructions.md
  .github/prompts/add-sql-function.prompt.md
  .github/prompts/debug-loader.prompt.md
  .github/prompts/stage-version.prompt.md
  .github/workflows/continuous-integration.yml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  docker/pypgstac/Dockerfile
  docker/pypgstac/bin/pgstac_restore
  docker/pypgstac/bin/test
  docs/src/pgstac.md
  src/pgstac/migrations/pgstac.0.9.10-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/partitions.sql.out
  src/pgstac/tests/basic/search_path.sql
  src/pgstac/tests/basic/search_path.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/version.py
  src/pypgstac/tests/test_load.py
Due: dockerbuild, sql, pypgstac, migrations

stage release
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.10-0.9.11.sql
  src/pgstac/migrations/pgstac.0.9.11.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

stage release (#420)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.10-0.9.11.sql
  src/pgstac/migrations/pgstac.0.9.11.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

pypgstac: lift version constraint on cachetools
  src/pypgstac/pyproject.toml
Due: none

chore: ignore planning artifacts, env files, and Rust build output
  .gitignore
Due: none

refactor(scripts): move in-container scripts to scripts/container-scripts/
  docker/pypgstac/bin/tmpdb
  scripts/container-scripts/format
  scripts/container-scripts/initpgstac
  scripts/container-scripts/loadsampledata
  scripts/container-scripts/makemigration
  scripts/container-scripts/pgstac_restore
  scripts/container-scripts/resetpgstac
  scripts/container-scripts/stageversion
  scripts/container-scripts/test
  scripts/makemigration
Due: none

feat(scripts): expand script UX with --help, --build-policy, and env-var support
  .env.example
  scripts/console
  scripts/format
  scripts/migrate
  scripts/pgstacenv
  scripts/runinpypgstac
  scripts/server
  scripts/setup
  scripts/stageversion
  scripts/test
  scripts/update
Due: none

build(docker): trixie base, pg_tle, BuildKit caches, remove PL/Rust
  docker-compose.yml
  docker/pgstac/Dockerfile
  docker/pgstac/dbinit/docker-entrypoint.sh
  docker/pgstac/dbinit/pgstac-rust-preinit.sh
  docker/pgstac/dbinit/pgstac-rust.sh
  docker/pgstac/dbinit/pgstac.sh
  docker/pypgstac/Dockerfile
Due: dockerbuild

ci: PG 16/17/18 matrix, daily scheduled build, action updates, Dependabot expansion
  .github/dependabot.yml
  .github/workflows/continuous-integration.yml
  .github/workflows/release.yml
Due: none

chore(dev): replace flake8/black/mypy with ruff+ty; update pre-commit-hooks to v5
  .pre-commit-config.yaml
  src/pypgstac/pyproject.toml
Due: none

fix(loader): use timezone-aware MIN/MAX_DATETIME_UTC sentinel values
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

docs: update contributor docs and agent instructions for new script layout
  .github/instructions/scripts.instructions.md
  CLAUDE.md
  CONTRIBUTING.md
Due: none

chore: add [Unreleased] section to CHANGELOG for v0.10 foundation changes
  CHANGELOG.md
Due: none

ci: change scheduled image build run to weekly
  .github/workflows/continuous-integration.yml
Due: none

chore(pypgstac): modernize python and unify ruff+ty checks
  .pre-commit-config.yaml
  scripts/container-scripts/test
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/db.py
Due: pypgstac

chore(migrations): stage unreleased migration artifacts
  src/pgstac/migrations/pgstac.0.9.11-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

docs(changelog): refresh Unreleased notes for foundation updates
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

chore: harden pypgstac tooling and typing cleanup
  docker/pypgstac/Dockerfile
  scripts/container-scripts/test
  scripts/format
  scripts/makemigration
  scripts/runinpypgstac
  src/pypgstac/src/pypgstac/__init__.py
  src/pypgstac/src/pypgstac/db.py
  src/pypgstac/src/pypgstac/hydration.py
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/migrate.py
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/src/pypgstac/version.py
  src/pypgstac/tests/conftest.py
  src/pypgstac/tests/hydration/test_dehydrate_pg.py
  src/pypgstac/tests/hydration/test_hydrate_pg.py
  src/pypgstac/tests/test_benchmark.py
  src/pypgstac/tests/test_load.py
  src/pypgstac/tests/test_queryables.py
Due: dockerbuild, pypgstac

update dependency versions to get ci to pass
  .github/workflows/continuous-integration.yml
  CHANGELOG.md
  src/pypgstac/pyproject.toml
Due: none

Update src/pypgstac/src/pypgstac/load.py
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

make test for partitions order determinant
  src/pgstac/tests/basic/partitions.sql
  src/pgstac/tests/basic/partitions.sql.out
Due: none

harden pg client version parity in CI and tests
  .github/workflows/continuous-integration.yml
  scripts/container-scripts/test
Due: none

chore: switch pgpkg workflows to published packages
  .github/copilot-instructions.md
  .github/instructions/scripts.instructions.md
  .github/workflows/release.yml
  AGENTS.md
  CHANGELOG.md
  CLAUDE.md
  scripts/container-scripts/makemigration
  scripts/container-scripts/stageversion
  scripts/makemigration
  scripts/runinpypgstac
Due: none

chore: clean up test warnings
  scripts/container-scripts/test
  src/pypgstac/pyproject.toml
Due: none

fix: preserve datetime: null and other JSON nulls in hydration/dehydration
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.11-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/001a_jsonutils.sql
  src/pypgstac/tests/hydration/test_dehydrate.py
  src/pypgstac/tests/hydration/test_hydrate.py
Due: sql, pypgstac, migrations

update changelog
  CONTRIBUTING.md
Due: none

add more tests
  .gitignore
  CHANGELOG.md
  docker/pgstac/dbinit/pgstac.sh
  scripts/container-scripts/test
  src/pgstac-migrate/tests/test_cli.py
  src/pgstac-migrate/tests/test_parity.py
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pypgstac/tests/test_migrate_wrapper.py
Due: pypgstac, migrations

pr1: switch search_wheres hashing to sha256 and stage unreleased migrations
  scripts/container-scripts/stageversion
  src/pgstac/migrations/pgstac--0.9.11--unreleased.sql
  src/pgstac/migrations/pgstac--unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/000_idempotent_pre.sql
  src/pgstac/sql/001_core.sql
  src/pgstac/sql/003a_items.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/004_search.sql
Due: sql, migrations

Update scripts/makemigration
  scripts/makemigration
Due: none

Update .github/workflows/release.yml
  .github/workflows/release.yml
Due: none

Path conditions:
  dockerbuild: any of: Dockerfile$|\.rs$
  sql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
