Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-toml
    -   id: detect-aws-credentials
        args: [--allow-missing-credential]
    -   id: detect-private-key
    -   id: check-json
    -   id: mixed-line-ending
    -   id: check-merge-conflict
    -   id: check-executables-have-shebangs
    -   id: check-symlinks


-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: 'v0.8.2'
    hooks:
    -   id: ruff
        files: src/pypgstac\/.*\.py$
        args: [--fix, --exit-non-zero-on-fix]
    -   id: ruff-format
        files: src/pypgstac\/.*\.py$


-   repo: local
    hooks:
    -   id: dockerbuild
        name: dockerbuild
        entry: scripts/update
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: Dockerfile$|\.rs$
    -   id: sql
        name: sql
        entry: scripts/test
        args: [--basicsql, --pgtap]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: sql\/.*\.sql$
    -   id: formatting
        name: formatting
        entry: scripts/test
        args: [--formatting]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        always_run: true
    -   id: pypgstac
        name: pypgstac
        entry: scripts/test
        args: [--pypgstac]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: pypgstac\/.*\.py$
    -   id: migrations
        name: migrations
        entry: scripts/test
        args: [--migrations]
        language: script
        pass_filenames: false
        verbose: true
        fail_fast: true
        files: migrations\/.*\.sql$

temporarily pin qemu action image (#351)
  .github/workflows/release.yml
Due: none

deps: relax
  .github/workflows/continuous-integration.yml
  src/pypgstac/pyproject.toml
Due: none

fix: uv system python
  .github/workflows/continuous-integration.yml
Due: none

fix: deps
  src/pypgstac/pyproject.toml
Due: none

deps: relax (#352)
  .github/workflows/continuous-integration.yml
  src/pypgstac/pyproject.toml
Due: none

deps: relax more
  src/pypgstac/pyproject.toml
Due: none

deps: relax more (#353)
  src/pypgstac/pyproject.toml
Due: none

stage release
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.3-0.9.4.sql
  src/pgstac/migrations/pgstac.0.9.4.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

stage release (#354)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.3-0.9.4.sql
  src/pgstac/migrations/pgstac.0.9.4.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

fix(deps): ceiling on plpygis
  src/pypgstac/pyproject.toml
  src/pypgstac/tests/test_load.py
Due: pypgstac

fix(deps): upgrade plpygis
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

fix(deps): upgrade plpygis (#359)
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

stage v0.9.5 release
  src/pgstac/migrations/pgstac.0.9.4-0.9.5.sql
  src/pgstac/migrations/pgstac.0.9.5.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

update changelog
  CHANGELOG.md
Due: none

stage v0.9.5 release (#360)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.4-0.9.5.sql
  src/pgstac/migrations/pgstac.0.9.5.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Add query benchmark module and performance docs page
  .github/workflows/deploy_mkdocs.yml
  docs/mkdocs.yml
  docs/src/benchmark.json
  docs/src/item_size_analysis.ipynb
  src/pypgstac/pyproject.toml
  src/pypgstac/tests/test_benchmark.py
Due: pypgstac

build docs on PRs where docs change
  .github/workflows/deploy_mkdocs.yml
Due: none

add morecantile to test dependencies
  src/pypgstac/pyproject.toml
Due: none

Add query benchmark module and performance docs page (#336)
  .github/workflows/deploy_mkdocs.yml
  docs/mkdocs.yml
  docs/src/benchmark.json
  docs/src/item_size_analysis.ipynb
  src/pypgstac/pyproject.toml
  src/pypgstac/tests/test_benchmark.py
Due: pypgstac

feat: add load_queryables function and support for collection IDs; update documentation and examples
  .gitignore
  CHANGELOG.md
  docs/src/pypgstac.md
  src/pypgstac/examples/load_queryables_example.py
  src/pypgstac/examples/sample_queryables.json
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/data-files/queryables/test_queryables.json
  src/pypgstac/tests/test_queryables.py
Due: pypgstac

refactor: update load_queryables to accept a list for collection IDs; adjust example and tests accordingly
  src/pypgstac/examples/load_queryables_example.py
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/test_queryables.py
Due: pypgstac

feat: add delete_missing option to load_queryables; update examples and tests
  src/pypgstac/examples/load_queryables_example.py
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/test_queryables.py
Due: pypgstac

docs: update load_queryables documentation to reflect new syntax and delete_missing option
  docs/src/pypgstac.md
Due: none

feat: add index_fields option to load queryables for customizable indexing
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/test_queryables.py
Due: pypgstac

docs: update pypgstac documentation to include index_fields option for customizable indexing
  docs/src/pypgstac.md
Due: none

Udpate fire to 0.7.0
  src/pypgstac/pyproject.toml
Due: none

Add `load_queryables` function to pypgstac (#361)
  .gitignore
  CHANGELOG.md
  docs/src/pypgstac.md
  src/pypgstac/examples/load_queryables_example.py
  src/pypgstac/examples/sample_queryables.json
  src/pypgstac/src/pypgstac/pypgstac.py
  src/pypgstac/tests/data-files/queryables/test_queryables.json
  src/pypgstac/tests/test_queryables.py
Due: pypgstac

Udpate fire to 0.7.0 (#362)
  src/pypgstac/pyproject.toml
Due: none

Add missing 0.8.6-0.9.0 migration script
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.8.6-0.9.0.sql
  src/pgstac/migrations/pgstac.0.8.6.sql
Due: migrations

fix set_version line in 0.8.6-0.9.0
  src/pgstac/migrations/pgstac.0.8.6-0.9.0.sql
Due: migrations

set version from $TO instead of copying 999_version.sql
  docker/pypgstac/bin/makemigration
Due: none

Fix: add missing 0.8.6-0.9.0 migration script (#365)
  CHANGELOG.md
  docker/pypgstac/bin/makemigration
  src/pgstac/migrations/pgstac.0.8.6-0.9.0.sql
  src/pgstac/migrations/pgstac.0.8.6.sql
Due: migrations

prepare v0.9.6 release
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.5-0.9.6.sql
  src/pgstac/migrations/pgstac.0.9.6.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

prepare v0.9.6 release (#366)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.5-0.9.6.sql
  src/pgstac/migrations/pgstac.0.9.6.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Fix: correct migration directory name and expand bootstrapping instructions for PgSTAC
  docs/src/pypgstac.md
Due: none
