Repository stac-utils/pgstac: changes, and which pre-commit hooks are due for each by the changed paths.
All: dockerbuild, sql, pypgstac, migrations

dockerbuild:
  name: dockerbuild
  entry: scripts/update
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

sql:
  name: sql
  entry: scripts/test
  args:
  - --basicsql
  - --pgtap
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

pypgstac:
  name: pypgstac
  entry: scripts/test
  args:
  - --pypgstac
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

migrations:
  name: migrations
  entry: scripts/test
  args:
  - --migrations
  language: script
  pass_filenames: false
  verbose: true
  fail_fast: true

Run continuous integration tests when code is changed in the directory as well
  .github/workflows/continuous-integration.yml
  CHANGELOG.md
  docker/pypgstac/bin/test
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

Ingest the value of the special key 'private' into the corresponding column
  src/pgstac/tests/testdata/items.ndjson
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

Ingest the value of the special key 'private' into the corresponding column (#327)
  src/pgstac/tests/testdata/items.ndjson
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

update dependencies, fixes for postgres 17
  .pre-commit-config.yaml
  docker/pgstac/Dockerfile
  docker/pypgstac/bin/test
  scripts/runinpypgstac
  src/pgstac/migrations/pgstac.0.9.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/hydration.py
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/tests/hydration/test_base_item.py
  src/pypgstac/tests/hydration/test_dehydrate.py
  src/pypgstac/tests/hydration/test_hydrate.py
Due: dockerbuild, sql, pypgstac, migrations

update queryables to more smartly handle properties.datetime
  src/pgstac/migrations/pgstac.0.9.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/002a_queryables.sql
Due: sql, migrations

lint fix
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

private field breaking pgtap tests
  src/pgstac/tests/testdata/items.ndjson
  src/pgstac/tests/testdata/items_private.ndjson
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/tests/test_load.py
Due: pypgstac

update dependencies, fixes for postgres 17 (#329)
  .pre-commit-config.yaml
  docker/pgstac/Dockerfile
  docker/pypgstac/bin/test
  scripts/runinpypgstac
  src/pgstac/migrations/pgstac.0.9.1-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/002a_queryables.sql
  src/pgstac/sql/003b_partitions.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/004a_collectionsearch.sql
  src/pgstac/tests/pgtap/001_core.sql
  src/pgstac/tests/pgtap/9999_readonly.sql
  src/pgstac/tests/testdata/items.ndjson
  src/pgstac/tests/testdata/items_private.ndjson
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/hydration.py
  src/pypgstac/src/pypgstac/load.py
  src/pypgstac/tests/hydration/test_base_item.py
  src/pypgstac/tests/hydration/test_dehydrate.py
  src/pypgstac/tests/hydration/test_hydrate.py
  src/pypgstac/tests/test_load.py
Due: dockerbuild, sql, pypgstac, migrations

stage v0.9.2
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.1-0.9.2.sql
  src/pgstac/migrations/pgstac.0.9.2.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

stage v0.9.2 (#330)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.1-0.9.2.sql
  src/pgstac/migrations/pgstac.0.9.2.sql
  src/pgstac/pgstac.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

fix path in ci
  .github/workflows/release.yml
Due: none

fix release ci
  .github/workflows/release.yml
Due: none

update docs
  docs/src/pgstac.md
Due: none

Unpin strict versions of deps
  src/pypgstac/pyproject.toml
Due: none

Start unreleased version
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.2-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Replace hardcoded org name by ${GITHUB_REPOSITORY_OWNER}
  .github/workflows/continuous-integration.yml
Due: none

Add query benchmark module and performance docs page
  .github/workflows/deploy_mkdocs.yml
  docs/mkdocs.yml
  docs/src/benchmark.json
  docs/src/item_size_analysis.ipynb
  src/pypgstac/pyproject.toml
  src/pypgstac/tests/test_benchmark.py
Due: pypgstac

build docs on PRs where docs change
  .github/workflows/deploy_mkdocs.yml
Due: none

Use pydantic-settings for BaseSettings as currently recommended by pydantic https://docs.pydantic.dev/latest/concepts/pydantic_settings/
  src/pypgstac/src/pypgstac/db.py
Due: pypgstac

Update classifiers to include Python 3.12 and 3.13
  src/pypgstac/pyproject.toml
Due: none

Loosen dependencies requirements #341 Also remove unused packages: flake8, types-setuptools
  src/pypgstac/pyproject.toml
Due: none

psycopg since 3.1.9 accepts orjson.dumps without wrapper method
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/db.py
Due: pypgstac

Improve chunked_iterable result typing
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

Optimize open_std filename stdin check and fix typing to match optional behavior
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

Raise TypeError instead of silent return
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

Remove redundant open_std assign
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

Improve typing of read_json file and create common type alias Path type was never supported so also remove false type
  src/pypgstac/src/pypgstac/load.py
Due: pypgstac

fix: don't let null values in title or keywords break free-text search
  src/pgstac/migrations/pgstac.0.9.2-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pypgstac/pyproject.toml
Due: sql, migrations

fix pypgstac version update in stageversion script
  docker/pypgstac/bin/stageversion
  src/pypgstac/src/pypgstac/version.py
Due: pypgstac

always run tests even if docker images don't rebuild
  .github/workflows/continuous-integration.yml
Due: none

always run tests even if docker images don't rebuild (#346)
  .github/workflows/continuous-integration.yml
Due: none

fix: don't let null values in title or keywords break free-text search (#345)
  docker/pypgstac/bin/stageversion
  src/pgstac/migrations/pgstac.0.9.2-unreleased.sql
  src/pgstac/migrations/pgstac.unreleased.sql
  src/pgstac/sql/004_search.sql
  src/pgstac/sql/999_version.sql
  src/pgstac/tests/basic/free_text.sql
  src/pgstac/tests/basic/free_text.sql.out
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

fix bad merge
  .github/workflows/continuous-integration.yml
Due: none

Replace hardcoded org name by ${GITHUB_REPOSITORY_OWNER} (#333)
  .github/workflows/continuous-integration.yml
Due: none

Replace hardcoded org name by ${GITHUB_REPOSITORY_OWNER} (#333)
  .github/workflows/continuous-integration.yml
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.2-0.9.3.sql
  src/pgstac/migrations/pgstac.0.9.3.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

Replace hardcoded org name by ${GITHUB_REPOSITORY_OWNER} (#333) (#349)
  CHANGELOG.md
  src/pgstac/migrations/pgstac.0.9.2-0.9.3.sql
  src/pgstac/migrations/pgstac.0.9.3.sql
  src/pgstac/sql/999_version.sql
  src/pypgstac/pyproject.toml
  src/pypgstac/src/pypgstac/version.py
Due: sql, pypgstac, migrations

temporarily pin qemu action image
  .github/workflows/release.yml
Due: none

Path conditions:
  dockerbuild: any of: Dockerfile$|\.rs$
  sql: any of: sql\/.*\.sql$
  pypgstac: any of: pypgstac\/.*\.py$
  migrations: any of: migrations\/.*\.sql$
